/* The styles for the parallax */
.hero {
  background-image: url('background.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  /* min-width: 100%;
  position: relative; 
  top: 0; 
  left: 0; 
  right: 0; 
  bottom: 0; 
  margin: 0;
  opacity: 0.8; 
  min-width: 100%; 
  min-height: 100%; */
}

.well {
  background-color: rgba(240, 255, 236, 0.897);
}

.btn {
  height: 28px;
  margin-bottom: 2px;
  width: 40%;
  border-radius: 50%;
  color: white;
  max-width: 50px;
}
.button-class {
  text-align: center;
}
.add {
  background-color: rgb(101, 204, 101);
  transition-duration: 300ms;
}
.add:hover{
  background-color:rgb(159, 221, 159);
}
.del {
  background-color: rgb(255, 119, 119);
  transition-duration: 300ms;
}
.del:hover{
  background-color: rgb(250, 200, 200);
}

table {
  font-size: 11px;
}

th, tr {
  text-align: center;
  height: 20px;
}

.table>tbody>tr>td {
  padding-top: 0px;
  padding-bottom: 0px;
  border-top: 0px solid #ddd;
  height: 30px;
  vertical-align: middle;
}
.table>thead>tr>th {
  padding: 0px;
}

h1 {
  font-style: italic;
}

dl {
  font-size: 12px;
}

#pie-plot {
  background-color: transparent;
}